
<!-- Footer
================================================== -->
  <footer class="footer row">
    <div class="span3">
      <div class="logo-footer widget">
        <h5>Contact Info</h5>
		<ul id="contact-info" class="clearfix">
		  <li><i class="icon-map-marker icon-white"></i><address>12345 / Some Street, Portland, USA</address></li>
		  <li><i class="icon-user icon-white"></i>phone: +1 (44)  123-45-67</li>
		  <li><i class="icon-headphones icon-white"></i><a href="skype:echo123?call">Skype Me</a></li>
		  <li><i class="icon-envelope icon-white"></i><a href="mailto:support@color-theme.com">support@color-theme.com</a></li>
		</ul>
      </div><!-- logo-footer -->
    </div><!-- span3 -->
    
    <div class="span9 footer-widgets clearfix">
	  <div class="widget">
	    <h5>Popular Posts</h5>
		<ul class="popular-posts">
		  <li>
		    <a href="#"><img src="<%= asset_path("img/blog/widgets/img01-40x40.jpg") %>" alt="" /></a>
		    <a href="#">Domino Theory</a>
		    <span class="date">June 24, 2012</span>
		  </li>
		  <li>
		    <a href="#"><img src="<%= asset_path("img/blog/widgets/img02-40x40.jpg") %>" alt="" /></a>
		    <a href="#">Crossing Paths</a>
		    <span class="date">June 22, 2012</span>
		  </li>
		  <li>
		    <a href="#"><img src="<%= asset_path("img/blog/widgets/img03-40x40.jpg") %>" alt="" /></a>
		    <a href="#">Corporate Equality Index</a>
		    <span class="date">May 09, 2012</span>
		  </li>
		</ul>
	  </div><!-- .widget -->

	  <div class="widget">
	    <h5>Latest Posts</h5>
		<ul class="latest-posts">
		  <li>
		    <a href="#"><img src="<%= asset_path("img/blog/widgets/img04-40x40.jpg") %>" alt="" /></a>
		    <a href="#">The Peace Corps</a>
		    <span class="date">Jule 02, 2012</span>		  
		  </li>
		  <li>
		    <a href="#"><img src="<%= asset_path("img/blog/widgets/img01-40x40.jpg") %>" alt="" /></a>
		    <a href="#">Domino Theory</a>
		    <span class="date">June 24, 2012</span>
		  </li>
		  <li>
		    <a href="#"><img src="<%= asset_path("img/blog/widgets/img05-40x40.jpg") %>" alt="" /></a>
		    <a href="#">Flickr Eggs</a>
		    <span class="date">May 14, 2012</span>
		  </li>
		</ul>
	  </div><!-- .widget -->

	 <!--  <div class="widget">
	    <h5>Flickr Photos</h5>
	    <ul class="flickr thumbs"></ul>
	  </div><!-- .widget --> 
	  
    </div><!-- footer-widgets -->
  </footer>

  <div id="bottom-panel" class="clearfix">
  <span class="site-name">Claystone — Responsive HTML Template</span>
  <span>Copyright &copy; 2012. Designed by <a href="http://themeforest.net/user/ZERGE?ref=zerge">ZERGE</a> for <a href="http://themeforest.net/user/ZERGE/portfolio?ref=zerge">Themeforest</a>.</span></div>